h1 {
  margin: 5vh auto;
}

.container .row {
  margin: 1rem;
}

table#iptable td:last-child {
  width: 10%;
  min-width: 90px;
}

table#iptable .material-icons {
  transition: color .3s;
  color: #e9ecef;
  cursor: pointer;
  font-size: 20px;
  margin-right: 8px;
}

table#iptable .material-icons:hover {
  color: #000;
}

table#iptable .edit-icon:hover {
  color: #007bff;
}

table#iptable .delete-icon:hover {
  color: #dc3545;
}